<%= form_for(assign_employee) do |f| %>
  <% if assign_employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assign_employee.errors.count, "error") %> prohibited this assign_employee from being saved:</h2>

      <ul>
      <% assign_employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client %>
    <%= f.text_field :client %>
  </div>

  <div class="field">
    <%= f.label :employee %>
    <%= f.text_field :employee %>
  </div>

  <div class="field">
    <%= f.label :assign_date %>
    <%= f.date_select :assign_date %>
  </div>

  <div class="field">
    <%= f.label :comments %>
    <%= f.text_area :comments %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
