   <div class="row">
                    <div class="col-sm-12">
                        <div class="card-box">
                            <div class="row">
                                

                                <div class="col-md-12">
                                    <h4 class="m-t-0 header-title"><b>Assign Employee</b></h4>
                                    <%= form_for @assign_employee, :html => {:class => "form-horizontal"} do |f| %>

                                   
                                     <div class="form-group">
								        <%= f.label :client, "Choose Client:", class: "col-sm-4 control-label" %>
								        <div class="col-sm-6">
								       <%= f.select :client, AssignEmployee.all.collect { |p| p.client }, include_blank: true ,:class =>'form-control' %>
								        </div>
								      </div>
								      <div class="form-group">
								        <%= f.label :employee, "Choose Employee:", class: "col-sm-4 control-label" %>
								        <div class="col-sm-6">
								       <%= f.select :employee, AssignEmployee.all.collect { |p| p.employee }, include_blank: true %>
								        </div>
								      </div>
                                       
                                        
                                        <div class="form-group">
                                         <%= f.label :assign_date,"Assign Date",class:"col-sm-4 control-label"%>
                                            
                                            <div class="col-sm-6">
                                            <%=date_select "post", "assign_date"%>
                                            
                                            </div>
                                        </div>
                                        <div class="form-group">
                                        <%= f.label :comments,"Comments",class:"col-sm-4 control-label"%>
                                           
                                            <div class="col-sm-6">
                                            <%= f.text_area :comments, :rows => 2,class:"form-control"%>
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="form-group m-b-0">
                                            <div class="col-sm-offset-4 col-sm-6">
                                               <%= f.submit "Submit", class: "btn btn-default btn-primary" %>  
                                              <!-- <button type="submit" class="btn btn-info waves-effect waves-light">Assign</button> -->
                                            </div>
                                        </div>
                                     <%end%>
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
              
               