<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @assign_employee.client %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @assign_employee.employee %>
</p>

<p>
  <strong>Assign date:</strong>
  <%= @assign_employee.assign_date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @assign_employee.comments %>
</p>

<%= link_to 'Edit', edit_assign_employee_path(@assign_employee) %> |
<%= link_to 'Back', assign_employees_path %>
